/* header {
    border: solid;
    color: green;
    height: 100px;
} */
#name {
    color: red;
    font-size: 80px;
    text-shadow: 5px 5px 4px rgb(85, 15, 15);
    font-family: cursive;
}
.container {
    border: solid;
    display:flex;
    justify-content:space-around;

}
.leftside {
    /* display: flex;
    align-items: center; */
    border: solid;
    color: rgb(135, 19, 19);
    width: 800px;
    height: 600px;
    background: #f8dbdb;
    padding: 100px;
    margin-right:20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}