/* header {
    border: solid;
    color: green;
    height: 100px;
} */
#name {
    color: red;
    font-size: 80px;
    text-shadow: 5px 5px 4px rgb(85, 15, 15);
    font-family: cursive;
}
.container {
    border: solid;
    display:flex;
    justify-content:space-around;

}
.leftside {
    /* /* display: flex; */
    align-items: center; 
    border: solid;
    color: rgb(135, 19, 19);
    width: 800px;
    height: 700px;
    background: #f8dbdb;
    padding: 50px;
    margin-right:20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"] {
    width: calc(100% - 110px);
    padding: 10px;
    border: 1px solid #830b0b;
    border-radius: 4px;
    font-size: 16px;
}
button {
    
    border-radius: 4px;
    background-color: #e8505fe8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #cc1023;
}
.todo-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.todo-list li:last-child {
    border-bottom: none;
}
.container2 {
    border: solid;
    height: 800px;
    width: 600px;
    display: block;

}
.rightside {
    border: solid;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.Acontainer {
    /* border: solid; */
    height: 90px;
    text-align: center;
    font-size:25px;
    font-family: cursive;
    color: #cc1023;
    /* margin: 1em;
     */

    
}
.Bcontainer {
    border: solid red;
    /* border: solid blue; */
    /* height: 50px; */
    /* margin: 1em;
  */
}





.tracker-container {
    max-width: 600px;
    height: 335px;
    background: #e69494;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#water {
    font-size: 40px;
    font-family: cursive;
}
.glasses {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.glass {
    width: 40px;
    height: 60px;
    border: solid #b2b2b2;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    position: relative;

}
.glass::before {
    content: "";
    position: absolute;
    bottom: 0%;
    height: 50%;
    background-color: transparent;
    transition: background-color o.3s ease;
}
.glass.filled::before{
    background-color: #4db84d;
}

 

/* .tracker-info p {
    font-size: 18px;
    margin: 10px 0;
}

input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #00796b;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

button#add-water {
    background-color: #00796b;
}

button#add-water:hover {
    background-color: #004d40;
}

button#reset {
    background-color: #f44336;
}

button#reset:hover {
    background-color: #c62828;
} */
